.animation-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-div {
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom, rgb(248, 0, 215), red);
    transition:
        border-radius 600ms linear,
        background 1s linear,
        transform 1s linear,
        box-shadow 1s linear;
}

.custom-div:hover {
    z-index: 2;
    transform: rotate(360deg);
    border-radius: 60px 70px 40px 140px;
    background: linear-gradient(to bottom, red, rgb(248, 0, 215));
    box-shadow:
        0 0 0 10px black,
        0 0 0 20px rgb(248, 0, 215),
        0 0 0 30px black,
        0 0 0 40px red;
}

@media screen and (max-width: 600px) {
    .custom-div {
        height: 150px;
        width: 150px;
    }
}

/* bulr side */

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.box:hover .box-item:not(:hover) {
    filter: blur(5px);
}